################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConfigOptions/obj/Debug
/.vs/ConfigOptions/v15
/ConfigOptions/bin/Debug
/ConfigOptions.Infrastructure/bin/Debug
/packages/Autofac.4.8.1
